/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (
    primary: #ff8da1, // Soft Pink
    secondary: #5c001e, // Dark Claret
    shadow: #ffb7c5, // Lighter Pink shadow
    white: #fff0f5, // Lavender Blush
  ),

  contrasted: (
    primary: #fff0f5, // Lavender Blush
    secondary: #5c001e, // Dark Claret
    shadow: #ffc0cb, // Pink
    white: #fff0f5,
  ),
);
